#dnf module disable redis -y
#dnf module enable redis:7 -y
#dnf install redis -y
#sed -i -e 's|127.0.0.1|0.0.0.0|' -e '/^protected-mode/ c protected-mode no' /etc/redis/redis.conf
#systemctl enable redis
#systemctl start redisa

- name: Disable redis & Enable redis 7 version
  ansible.builtin.shell: dnf module disable redis -y ; dnf module enable redis:7 -y

- name: Install Redis
  ansible.builtin.dnf:
    name: redis
    state: installed

- name: Update Listen Address
  ansible.builtin.replace:
    path: /etc/redis/redis.conf
    regexp: '127.0.0.1'
    replace: '0.0.0.0'

- name: Update Protected Mode
  ansible.builtin.replace:
    path: /etc/redis/redis.conf
    regexp: 'protected-mode yes'
    replace: 'protected-mode no'

- name: Start Redis Service
  ansible.builtin.dnf:
    name: redis
    state: restarted
    enabled: yes


